@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

body
{
    background-color: #1F1F1F;
    padding: 0px;
    margin: 0px;
    font-family: 'PT Serif', serif;
    font-style: normal;
    font-weight: bold;
}
header
{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 100vw;
    border: 1px solid #CCD2E3;
    border-top: 0px;
    border-radius: 0 0 0 20px;
}
nav
{
    display: inline-block;
    width: 100%;
}
.menu
{
    height: 4vh;
    width: 35vw;
    background: #1F1F1F;
    border: 1px solid #CCD2E3;
    border-top: 0px;
    border-radius: 0px 0px 30px 30px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}
.menu2
{
    list-style-type: none;
    text-decoration: none;
    color: #ECEFF4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
}
li
{
    margin: 0 0.5vw;
    font-size: 14px;
}
main
{
    display: flex;
    height: 100vh;
}
.lewo
{
    width: 50%;
    height: 100%;
    border: 1px solid white;
    color: #ECEFF4;
}
.prawo
{
    width: 50%;
    height: 100%;
    border: 1px solid white;
}
.aktywnosci
{
    margin-left: 3.5vw;
}
.nalinie
{
    height: 100%;
    width: 20%;
    border: 1px solid red;
    display: inline-block;
    margin: 0;
}
.natekst
{
    height: 100%;
    width: 78%;
    border: 1px solid blue;
    display: inline-block;
    margin: 0;

}
.linialewo
{
    height: 100%;
    width: 0%;
    border: 10px solid #CCD2E3;
    float: right;
}
