@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: #1F1F1F;
    padding: 0px;
    margin: 0px;
    font-family: 'PT Serif', serif;
    font-style: normal;
    font-weight: bold;
    color: #ECEFF4;
}
header
{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 99.9%;
    border: 1px solid #CCD2E3;
    border-top: 0px;
    border-right: 0px;
    border-radius: 0 0 0 20px;
}
nav
{
    display: inline-block;
    width: 100%;
}
.menu
{
    height: 4vh;
    width: 40vw;
    background: #1F1F1F;
    border: 1px solid #CCD2E3;
    border-top: 0px;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}
.menu2
{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menudol
{
    display: none;
}
li
{
    margin: 0 0.5vw;
    font-size: 1.85vh;
    transition-duration: 1s;
}
li:hover
{
    font-size: 2vh;
}
main
{
    display: flex;
    justify-content: center;
}
main > div
{
    width: 82%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-left: 5px solid #CCD2E3;
    border-right: 5px solid #CCD2E3;
    border-radius: 1%;
}
.lewy article
{
    width: 100%;
    height: 28vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0.01vw;
}
.lewy article img
{
    height: 20vh;
    transition-duration: 1s;
}
.lewy article img:hover
{
    height: 21vh;
}
.lewy article div:first-child
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.lewy article div:last-child
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
h1
{
    font-size: 4.3vh;
    transition-duration: 1s;
}
h2
{
    font-size: 4.3vh;
}
h3
{
    font-size: 3vh;
}
h4
{
    font-size: 4.3vh;
    transition-duration: 1s;
}
h5
{
    font-size: 3vh;
    transition-duration: 1s;
}
.lewy article div h3
{
    color: #8A8E96;
    margin-bottom: 1vh;
}
.lewy article div:last-child p
{
    font-size: 2vh;
    color: #8A8E96;
}
.tytul
{
    width: 95%;
}
.natytul
{
    width: 100%;
    display: flex;
    justify-content: center;
}
.prawy article
{
    width: 100%;
    height: 67vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prawy article img
{
    height: 40vh;
}
.miesiac
{
    color: #8A8E96;
}
.prawy article h2
{
    font-size: 4.3vh;
}
.prawy article h4
{
    font-size: 4.3vh;
    transition-duration: 1s;
}
.prawy article h5
{
    font-size: 4.3vh;
    transition-duration: 1s;
}
.prawy article h4:hover
{
    font-size: 4.5vh;
    
}
.prawy article h5:hover
{
    font-size: 4.5vh;
}
.prawy
{
    display: flex;
    justify-content: space-between;
    padding-right: 4.3vh;
}
a
{
    text-decoration: none;
    color: #ECEFF4;
}
.test
{
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
h4:hover
{
    font-size: 4.5vh;
}
h5:hover
{
    font-size: 3.3vh;
}

@media only screen and (max-width: 1000px) 
{
    .menu
    {
        display: none;
    }
    .menu2
    {
        display: none;
    }
    header
    {
        border-radius: 0vh 0vh 5vh 5vh;
    }
    .menudol
    {
        position: fixed;
        height: 5vh;
        width: 100%;
        background: #1F1F1F;
        border: 1px solid #CCD2E3;
        border-bottom: 0px;
        border-radius: 5vh 5vh 0vh 0vh;
        bottom: 0px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .menudol img
    {
        height: 3.5vh;
        margin-top: 0.5vh;
    }
    main > div
    {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2vh;
    }
    .prawy
    {
        display: none;
    }
    .lewy article
    {
        margin-bottom: 3vh;
    }
    h3
    {
        font-size: 2.5vh;
    }

}