@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: #1F1F1F;
    padding: 0px;
    margin: 0px;
    font-family: 'PT Serif', serif;
    font-style: normal;
    font-weight: bold;
    color: #ECEFF4;
}
header
{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 99.9%;
    border: 1px solid #CCD2E3;
    border-top: 0px;
    border-right: 0px;
    border-radius: 0 0 0 20px;
}
nav
{
    display: inline-block;
    width: 100%;
}
.menu
{
    height: 4vh;
    width: 40vw;
    background: #1F1F1F;
    border: 1px solid #CCD2E3;
    border-top: 0px;
    border-radius: 0px 0px 30px 30px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}
.menu2
{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
li
{
    margin: 0 0.5vw;
    font-size: 14px;
    transition-duration: 1s;
}
li:hover
{
    font-size: 15px;
}
main
{
    display: flex;
    justify-content: center;
}
main > div
{
    width: 82%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-left: 5px solid #CCD2E3;
    border-right: 5px solid #CCD2E3;
    border-radius: 1%;
}
.lewy article
{
    width: 100%;
    height: 16vh;
    display: flex;
    justify-content: flex-start;
}
.lewy article img
{
    height: 13vh;
    border-radius: 50%;
    transition-duration: 1s;
}
.lewy article img:hover
{
    height: 14vh;
}
.lewy article div:first-child
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lewy article div:last-child
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
h1
{
    font-size: 30px;
}
h2
{
    font-size: 30px;
}
h3
{
    font-size: 20px;
}
h4
{
    font-size: 30px;
}
h5
{
    font-size: 20px;
}
.lewy article div h3
{
    color: #8A8E96;
    margin-bottom: 1vh;
}
.lewy article div:last-child p
{
    font-size: 15px;
    color: #8A8E96;
}
.tytul
{
    width: 95%;
}
.natytul
{
    width: 100%;
    display: flex;
    justify-content: center;
}
.prawy article
{
    width: 100%;
    height: 67vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prawy article img
{
    height: 40vh;
}
.miesiac
{
    color: #8A8E96;
}
.prawy article h2
{
    font-size: 30px;
}
.prawy article h4
{
    font-size: 30px;
    transition-duration: 1s;
}
.prawy article h4:hover
{
    font-size: 32px;   
}
.prawy
{
    display: flex;
    justify-content: space-between;
    padding-right: 2vw;
}
a
{
    text-decoration: none;
    color: #ECEFF4;
}
.lewy article div:first-child img
{
    margin-left: 2vw;
    margin-top: 2vh;
}
.lewy article div:last-child h4
{
    margin-left: 2vw;
    transition-duration: 1s;
}
.lewy article div:last-child h4:hover
{
    margin-left: 2vw;
    font-size: 32px;
}